NEXT_PUBLIC_SUPABASE_URL=https://sttgqgxztvtnyxwlsuyq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# For Testing Only:
LOGIN_USERNAME=your-login-username-here
LOGIN_PASSWORD=your-login-password-here